h1 Listing notes

table
  thead
    tr
      th Content
      th User
      th
      th
      th

  tbody
    - @notes.each do |note|
      tr
        td = note.content
        td = note.user_id
        td = link_to 'Show', note
        td = link_to 'Edit', edit_note_path(note)
        td = link_to 'Destroy', note, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Note', new_note_path
