.invoices {
	min-height: 600px;
}

.funnel {
	display: none;
	padding: 10px;
	background-color: #f7f7f7;
	min-height: 100px;
}

table {
	width: 100%;
}

tbody {
	tr {
		cursor: pointer;
		&:hover {	background-color: rgba(65, 131, 215, .1); }
	}
}
td {
	padding: 5px 10px;
}

thead.invhead {
	font-weight: $fw-normal;
	line-height: 3;
  top:50px;
  background-color: white;
}