.panel.panel--medium.panel--default
  header
    .header__title 
      h2 
      	| Zoekresultaten voor: 
      	span #{params[:search_query]}

  section.content
  	- if @credit_cases.any?
  		ul
  			- @credit_cases.each do |credit_case|
		  		li = credit_case.name