= form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      h2 = "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      ul
        - @invoice.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :invoice_number
    = f.text_field :invoice_number
  .actions = f.submit 'Save'
