tr.clickable-row
	td.tdtest = link_to invoice.invoice_number, invoice
	td = invoice.administration.name
	td = l invoice.created_at, format: :short
	td = number_to_currency(invoice.price)
	td
		.label--active Verzonden