.panel.panel--full
  header
    .header__title 
      h2 Facturen

    .header__options
      = link_to '#', class: 'btn btn--primary' do
        = iconic_tag('funnel')
        = iconic_tag('caret-bottom')
      = link_to 'Download', '#', class: 'btn btn--primary'
  section.invoices
    .funnel

    table
      thead.fixedsticky.invhead
        tr
          td Factuur
          td Debiteur
          td Factuurdatum
          td Bedrag
          td Status

      tbody
        = render @invoices