.panel.panel--medium
  header
    .header__title 
      h2 Factuur #138048

    .header__options
      = link_to 'Betaling registreren', '#', class: 'btn btn--primary'    
      = link_to '#', class: 'btn btn--primary toggle-click' do
        = iconic_tag('funnel')
        = iconic_tag('caret-bottom')
      = link_to 'Download', '#', class: 'btn--primary'
  section.invoices
    .funnel
      .row
        .col-1-2
          strong Drukkerij Emka
          br
          | T.a.v. Anne Kingma
          br
          | Puoldyk 26
          br
          | 9035 BZ Dronrijp
        .col-1-2
          strong Laatste herinnering


aside
  = form_for @invoice.notes.build, remote: true do |f|
    = f.hidden_field :invoice_id, value: 1
    = f.text_field :content, placeholder: 'Voeg een notitie toe'

  ul.invoice-notes
    = render @invoice.notes.desc

  h3 Bijlagen
  .attachments
    = iconic_tag('paperclip')
    = link_to 'Factuur 138048', '#'