.alert.alert--notice
  button.close
    = iconic_tag('circle-x')
  .spinner Laden ..
  p.alert__description 
    | Bezig met het uitvoeren van een importeertaak. 
    = link_to 'Klik hier', '#', class: 'alert__link'
    |  voor meer details.
.panel.panel--medium.panel--default
  header
    .header__title 
      h2 Instellingen

  section
    .hide
      h3 Adresgegevens
      strong Payt BV
      br
      strong Ubbo Emmiussingel 21
      br
      strong 9035 BZ Groningen
      br
      br
      strong NL59 RABO 03255 39 529 tnv. M. Kingma

    ul.panel-list
      li.header Administratie instellingen
      li
        .options
          .switch
            input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox"
            label for="cmn-toggle-1"   
        .service
          h3 Vakantieknop
          p Pauzeer alle facturen en zaken
      li
        .options
          .switch
            input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked="checked"
            label for="cmn-toggle-2"      
        h3 iDEAL betalingen
        p 
          | Activeer iDEAL betalingen 
          span.small
            | (Geactiveerd op 23 febr 2014)
      li
        .options
          .switch
            input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked="checked"
            label for="cmn-toggle-3"      
        h3 Betalingsregeling
        p Debiteur mag voorstel voor betalingsregeling doen
      li.header Admin instellingen
      li
        .options
          .switch
            input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox"
            label for="cmn-toggle-4"      
        h3 Briefpapier
        p Briefhoofd aan facturen toevoegen
  

.panel.panel--small.panel--list
  section
    ul.settings.panel-list
      li.active = link_to 'Administraties', '#'
      li = link_to 'Webhooks', webhooks_path
      li = link_to 'Deurwaarder', '#'
      li = link_to 'Gebruikers', '#'
      li = link_to 'Flows', '#'