p. class="lead" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;" We hebben #{@retries}x geprobeerd om een callback te sturen naar het onderstaande adres, echter kregen we geen reactie van de server.

h4 Details van de webhook
ul
	li
		strong Server: 
		span https://localhost:3000/callbacks
	li
		strong Omschrijving:
		span Starten van een incassozaak

p We hebben de webhook dus niet kunnen versturen.

p Met vriendelijke groet,

p Payt