<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_ZJPXciwIutmczeLdKcQ49CFU"
    data-image="https://assets.moneybird.com/mbrs/assets/moneybird@2x.png"
    data-name="Mathijs Kingma"
    data-description="2 widgets"
    data-currency="eur"
    data-amount="2000">
  </script>
</form>