= form_for @webhook do |f|
  - if @webhook.errors.any?
    #error_explanation
      h2 = "#{pluralize(@webhook.errors.count, "error")} prohibited this webhook from being saved:"
      ul
        - @webhook.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :url
    = f.text_field :url
  .actions = f.submit
