.alert.alert--notice
  button.close
  p.alert__description 

.panel.panel--medium.panel--default
  header
    .header__title 
      h2 Webhooks

  section
    .hide
      h3 Adresgegevens
      strong Payt BV
      br
      strong Ubbo Emmiussingel 21
      br
      strong 9035 BZ Groningen
      br
      br
      strong NL59 RABO 03255 39 529 tnv. M. Kingma

    ul.panel-list
      = render @webhooks

.panel.panel--small.panel--list
  section
    ul.settings.panel-list
      li = link_to 'Administraties', settings_path
      li.active = link_to 'Webhooks', '#'
      li = link_to 'Deurwaarder', '#'
      li = link_to 'Gebruikers', '#'
      li = link_to 'Flows', '#'