h1 Listing companies

table
  thead
    tr
      th Name
      th
      th
      th

  tbody
    - @companies.each do |company|
      tr
        td = company.name
        td = link_to 'Show', company
        td = link_to 'Edit', edit_company_path(company)
        td = link_to 'Destroy', company_path(company), data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Company', new_company_path
