= form_for @credit_case do |f|
  - if @credit_case.errors.any?
    #error_explanation
      h2 = "#{pluralize(@credit_case.errors.count, "error")} prohibited this credit_case from being saved:"
      ul
        - @credit_case.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions = f.submit 'Save'
