p#notice = notice

p
  strong Name:
  = @credit_case.name
p
  strong State:
  = @credit_case.state
p
  strong User:
  = @credit_case.user_id

= link_to 'Edit', edit_credit_case_path(@credit_case)
'|
= link_to 'Back', credit_cases_path
