input {
  border-radius: 4px;
  padding: 5px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 88%);  
}

input[type='search'] {
  @include appearance(none);
  @include box-sizing(border-box);

  &:focus {
    border: 1px solid #34495E;
  }
}

.search-bar {
  width: 350px;
  display: inline-block;
  input {
    width: 100%;
  }
}

// input[type='search'] {
//   width: 100%;
//   padding: 5px;
  // background-color: hsl(0, 0%, 98%);
  // border: 1px solid hsl(0, 0%, 88%);
//   border-radius: 4px;
// }

// input[type='search'], input[type='text'], textarea {
//   width: 100%;
//   padding: 12px;
//   background-color: hsl(0, 0%, 98%);
//   border: 1px solid hsl(0, 0%, 88%);
//   border-radius: 4px;
// }