.contained {
  @include center(1100px);
}

section.container {
	padding-top: 50px;
	@include center(1100px);

	header {
		height: 40px;
		color: white;
		border-radius: 3px 3px 0 0;
		// background-color: #d91f2c;
		padding: 0 15px;

		@include display(flex);
	  @include align-items(center);
	  .btn { margin-left: 5px; }
	}

}
.panel {
	header {
		h2 { font-size: 18px; }
	}
	section {
		min-height: 75px;
		background-color: white;
		box-shadow: 0 13px 10px -10px rgba(85,85,85,0.4),1px 0 0 rgba(85,85,85,0.2),-1px 0 0 rgba(85,85,85,0.2),0 1px 0 rgba(85,85,85,0.2);

	}
}

.panel-list {
	li {
		padding: 10px 15px;
		border-bottom: 1px solid #ebebeb;

		.options {
			margin-top: 3px;
			float: right;
		}
		h3 { font-weight: bold; font-size: 14px; }
		a { color: $c-copy; }
		&.header { font-weight: bold; background-color: #f7f7f7; }
		&:last-child { border-bottom: 0; }
	}
}

.panel--small { @include column(3/12); }
.panel--medium { @include column(9/12); }
.panel--full { width: 100%; }

.panel--default header {
	background-color: #2C3E50;
}
.panel--list {
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	section {
		min-height: 0;
		box-shadow: none;

		.settings {
			li {
				padding: 0;
				background-color: #ebebeb;
				font-weight: 400;
				border-bottom: 1px solid #D0D0D0;
				a {
					padding: 0 15px;					
					display: block;
					color: black;
					line-height: 40px;
				}
				&:last-child { border-bottom: none;}
			}
			li:hover, li.active	 { background-color: white;}
		}
	}
}

aside {
	@include column(2/6);
	padding-top: 50px;
}
.row { padding: 0 10px; }
.col-1-2 { @include column(1/2); }
.col-1-3 { @include column(1/3); }
.col-1-4 { @include column(1/4); }