// Root
// ====

* {
  @include box-sizing(border-box);
  outline: none;
}

html, body { -webkit-font-smoothing: antialiased; }

body {
  color: $c-copy;
  font-size: 14px;
  line-height: 19px;
  font-family: $ff-head;
  font-weight: $fw-light;
  background-color: #f0f0f0;
}

a {
  @include transition(color 100ms ease-in-out);
  // @include link-colors(hsl(202, 61%, 51%),
  //                      hsl(202, 61%, 71%),
  //                      hsl(202, 61%, 61%),
  //                      hsl(202, 61%, 51%),
  //                      hsl(202, 61%, 61%));

  text-decoration: none;
}

.iconic {
  @include transform(translateY(2px));
}
.iconic-caret {
  height: 10px !important;
  width: 10px !important;
  margin-left: 5px;
  @include transform(translateY(0));  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.25em;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  font-weight: $fw-light;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

p.small {
  font-size: 13px;
  font-weight: $fw-light;
}
span.small {
  font-weight: $fw-light;
  font-size: 13px;
  color: #666;

}

button {
  border: none;
}
a {
  color: $link-color;
}
.hide {display: none;}

html.turbolinks-progress-bar::before {
    background-color: #d91f2c !important
}