.alert {
	width: 100%;
	padding: 10px 0;

	.close {
		float: right;
		background: none;
		fill: #999;

		&:hover {
			fill: #666;
		}
	}

	.spinner {
		margin-right: 5px;
		vertical-align: middle;
	}
}

.alert__link {
	color: #34495e;
	font-weight: 400;

	&:hover {
		text-decoration: underline;
	}
}

.alert--error {}
.alert--notice {}
.alert--success {}

.alert__description {
	display: inline-block;
}