@-webkit-keyframes rotater {
    0% {
        -webkit-transform: rotate(0deg);
        -webkit-backface-visibility: hidden;
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotater {
    0% {
        -webkit-transform: rotate(0deg);
        -webkit-backface-visibility: hidden;
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -webkit-backface-visibility: hidden;
        transform: rotate(360deg)
    }
}