.btn {
  @include transition(all 180ms ease-in-out);

	color: #fff;
	border-radius: 3px;
	padding: 6px 17px;
	box-shadow: rgba(255,255,255,0.2) 0 1px 0 0 inset;
  // box-shadow: rgba(white, 0.35) 0 1px 0 0 inset;

	font-weight: $fw-medium;
	border: 1px solid;
	vertical-align: baseline;
	display: inline-block;
	line-height: 1.5;
  text-shadow: 0 -1px 0 rgba(black, 0.35);


	.iconic * {
		fill: white;
		stroke: white;
	}
}

$tint:10%;

.btn--primary {
	@extend .btn;
	background-color: #1d84ed;
	background-image: -webkit-linear-gradient(#1d84ed,#2073c9);
	background-image: linear-gradient(#1d84ed,#2073c9);
	border-color: #0e5caa;

	&:hover {
		background-color: tint(#1d84ed, $tint);
		background-image: -webkit-linear-gradient(tint(#1d84ed, $tint), tint(#2073c9, $tint));
		background-image: linear-gradient(tint(#1d84ed, $tint), tint(#2073c9, $tint));		

	}	
}


// =============================================================================
// Button
// =============================================================================

.button {
  @include transition(all 180ms ease-in-out);

  padding: 15px 32px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  color: white;
  font-size: em(17);
  font-weight: $fw-medium;
  text-shadow: 0 -1px 0 rgba(black, 0.35);
  box-shadow: rgba(white, 0.35) 0 1px 0 0 inset;

  &:hover {
    color: white;
    text-shadow: 0 -1px 0 rgba(black, 0.25);
  }

  &:active {
    text-shadow: 0 -1px 0 rgba(black, 0.35);
    box-shadow: rgba(black, .1) 0 1px 1px 0 inset;
    color: rgba(white, .9);
  }

  &:visited { color: white; }
  &:focus { color: rgba(white, 0.8); }
}

// Blue variant

.button--blue {
  @extend .button;

  background-color: hsl(197, 66%, 53%);
  border-color: hsl(199, 68%, 42%);

  &:hover { background-color: hsl(197, 66%, 58%); }
  &:active { background-color: hsl(197, 66%, 53%); }
}

// Purple variant

.button--purple {
  @extend .button;

  background-color: hsl(212, 50%, 50%);
  border-color: hsl(213, 60%, 39%);

  &:hover { background-color: hsl(212, 50%, 55%); }
  &:active { background-color: hsl(213, 60%, 44%); }
}

// Facebook variant

.button--fb {
  @extend .button;

  background-color: hsl(211, 48%, 49%);
  border-color: hsl(210, 52%, 39%);

  &:hover { background-color: hsl(211, 48%, 54%); }
  &:active { background-color: hsl(211, 48%, 49%); }
}
