.label {
	padding: 6px 12px;
	display: inline-block;
	border: 1px solid;
	border-radius: 3px;

	color: white;
	font-weight: $fw-normal;

}

.label--active {
	@extend .label;
	background-color: #2ECC71;
	border-color: #1E824C;

}