$height: 50px;

.navigation {
	width: 100%;
	height: $height;

	background-color: $c-header;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	position: fixed;
	z-index: 200;
}

.navigation__links {
	height: $height;
	font-weight: $fw-normal;
	display: inline-block;

	> li {
		@include inline-block;
		margin-right: 5px;

		&.active, &:hover {
			.navigation__link { background-color: rgba(255,255,255,0.2); }
			.navigation__link--dropdown {
				border-radius: 3px 3px 0 0;
				color: black;
				background-color: rgba(255,255,255,1);
			}
			.navigation__dropdown { display: block; }
			.iconic * {
				fill: black;
				stroke: black;
			}			
		}	
	}
}

.navigation__link {
  // @include transition(background 0ms ease-in-out);	
	color: white;
	padding: 5px 8px;
	line-height: $height;
	border-radius: 3px;
	background-color: rgba(255,255,255,0);

	.iconic {
		@include transform(translateY(2px));

		* {
			fill: white;
			stroke: white;
		}
	}
}

.navigation__link--dropdown {
	@extend .navigation__link;
  // @include transition(background-color 0ms ease-in-out);	
}

.navigation__dropdown {
	top: 38px;
	display: none;
	position: absolute;
	min-width: 150px;
	min-height: 20px;
	border-radius: 0 3px 3px 3px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 13px 10px -10px rgba(85,85,85,0.4),1px 0 0 rgba(85,85,85,0.2),-1px 0 0 rgba(85,85,85,0.2),0 1px 0 rgba(85,85,85,0.2);

	.search-administration {
		margin: 10px;
		font-weight: $fw-light;
	}

	header {
		padding: 10px;
	}

	li {
		display: block;
		padding: .7em 10px;
		border-bottom: 1px solid #ebebeb;
	  @include transition(background 100ms ease-in-out);	

	  &:first-child { border-top: 1px solid #ebebeb; }
	  &:last-child { 
	  	border: none;
			border-radius: 0 0 3px 3px;
	  }

		&:hover {	background-color: rgba(65, 131, 215, .1); }
	}
	.navigation__dropdown--link {
		display: block;
		color: black;
		font-weight: $fw-light;	
	}

}

.administration-select {
	width: 250px;
}



.navigation__brand {
	color: white;
  @include inline-block;
  font-weight: $fw-normal;
  vertical-align: -1px;
  font-size: em(28);
}