= form_for @administration do |f|
  - if @administration.errors.any?
    #error_explanation
      h2 = "#{pluralize(@administration.errors.count, "error")} prohibited this administration from being saved:"
      ul
        - @administration.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :company_id
    = f.number_field :company_id
  .actions = f.submit
