h1 Listing administrations

table
  thead
    tr
      th Name
      th Company
      th
      th
      th

  tbody
    - @administrations.each do |administration|
      tr
        td = administration.name
        td = administration.company_id
        td = link_to 'Show', administration
        td = link_to 'Edit', edit_administration_path(administration)
        td = link_to 'Destroy', administration, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Administration', new_administration_path
