p#notice = notice

p
  strong Name:
  = @administration.name
p
  strong Company:
  = @administration.company_id

= link_to 'Edit', edit_administration_path(@administration)
'|
= link_to 'Back', administrations_path
