nav.navigation
	.contained
		ul.navigation__links id="main_menu"
			li 
				= link_to 'ilionx Cloud Solutions BV', root_path, class: 'navigation__link--dropdown'
				.navigation__dropdown
					header
						p.small Kies een administratie
					ul.administration-select
						- Administration.all.each do |administration|
							li = link_to administration.name, administration, class: 'navigation__dropdown--link'


			li.active = link_to 'Facturen', invoices_path, class: 'navigation__link'
			li = link_to 'Zaken', credit_cases_path, class: 'navigation__link'
			li = link_to 'Bedrijven', companies_path, class: 'navigation__link'
			li = link_to 'Applicaties', oauth_applications_path, class: 'navigation__link'

			li 
				= link_to iconic_tag('cog'), '#', class: 'navigation__link--dropdown'
				.navigation__dropdown
					header
						p.small Ingelogd als
						= link_to 'Mathijs Kingma', '#'				
					ul
						li = link_to 'Instellingen', settings_path, class: 'navigation__dropdown--link'
						li = link_to 'Uitloggen', destroy_user_session_path, method: :delete, class: 'navigation__dropdown--link'

			li
				= link_to iconic_tag('bell'), '#', class: 'navigation__link--dropdown'
				.navigation__dropdown
					header
						p.small Er zijn geen nieuwe notificaties beschikbaar.			

		.search-bar style="display: none;"
			= form_tag search_path, method: :get, class: 'search_form'
				= search_field_tag :search_query, params[:search_query], placeholder: 'Zoek naar facturen, zaken, bedrijven of debiteuren...'
