<!DOCTYPE html>
<html>
<head>
  <title>PaytBeta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: 'layouts/header' %>

  <section class="container">
    <%= yield %>
  </div>
  
  <%= render partial: 'layouts/footer' %>

</body>
</html>
